<%- include("../includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title form-title">Login account</h1>
      <% if(errorMsg){ %>
        <p class="msg-box"><%= errorMsg %></p>
      <% }%>
      <form action="/login" method="post">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="email">Enter email</label>
          <input type="text" id="email" name="email" value="<%= oldFormData.email %>"  />
        </div>
        <div>
          <label for="password">Enter password</label>
          <input type="password" id="password" name="password" value="<%= oldFormData.password %>"  />
        </div>
        <a href="/reset-password">Forget password ?</a>
          <button>Login</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
