<%- include("./includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title form-title">Add a new post here!</h1>
      <% if(errorMsg){ %>
        <p class="msg-box"><%= errorMsg %></p>
      <% }%>
      <form action="/admin" method="post" enctype="multipart/form-data">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="title">Enter title</label>
          <input type="text" id="title" name="title" required value="<%= oldFormData.title %>" />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input type="file" id="photo" name="photo" required />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ><%= oldFormData.description %></textarea>
        </div>
        <button>Add Post</button>
      </form>
    </section>
  </body>
  <%- include("./includes/foot") %>
