<%- include("./includes/head") %>
<section class="details">
  <h1><%= post.title %></h1>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />
  <p><%= post.description %></p>
  <% if(post.userId.toString() === currentLoginUserId.toString()) { %>
  <form action="/admin/delete/<%= post._id %>" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <button>Delete</button>
  </form>
  <a href="/admin/edit/<%= post._id %>" class="btn-full">Edit</a>
  <% } %>
</section>
<%- include("./includes/foot") %>
