<%- include("./includes/head") %>
<section class="details">
  <div class="details-first">
    <h1><%= post.title %></h1>
    <a href="/" class="gb-btn">Go back</a>
  </div>
  <div class="details-sec">
    <div>
      <p class="tmp">
        <i class="fa-solid fa-user"></i><%= post.userId.email %>
      </p>
      <p class="tmp"><i class="fa-solid fa-calendar-days"></i><%= date %></p>
    </div>
    <% if(currentLoginUserStatus) {%>
    <a href="/save/<%= post._id %>"
      ><i class="fa-solid fa-file-arrow-down down-ic"></i
    ></a>
    <% }%>
  </div>
  <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>" />
  <% if(post.userId._id.toString() === currentLoginUserId.toString()) { %>
  <div class="action-div">
    <form action="/admin/delete/<%= post._id %>" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button>Delete</button>
    </form>
    <a href="/admin/edit/<%= post._id %>" class="btn-full">Edit</a>
  </div>
  <% } %>
  <p class="des"><%= post.description %></p>
</section>
<%- include("./includes/foot") %>
