<%- include("./includes/head") %>
<section class="details">
  <h1><%= post.title %></h1>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />
  <p><%= post.description %></p>
  <button>Delete</button>
  <button>Edit</button>
</section>
<%- include("./includes/foot") %>
