<%- include("./includes/head") %>
<section class="header">
  <h1 class="title">Recent posts</h1>
  <% if(postsArr.length === 0 && isLogin) { %>
  <div>
    <h4>Nothing to see ?</h4>
    <p>Create a new post now !!!</p>
    <a href="/admin/create-post">Create a new post</a>
  </div>
  <% } %>
  <div class="post-container">
    <% for(let post of postsArr) { %>
    <div class="post-box">
      <img
        src="<%= '/' + post.imgUrl %>"
        alt="<%= post.title %>"
        class="post-box-img"
      />
      <a class="post-title" href="/post/<%= post._id %>"
        ><%= post.title.substr(0,40) %></a
      >
      <p class="post-des"><%= post.description.substr(0,100) %></p>
      <hr />
      <div class="user-index">
        <% if(post.userId._id.toString() == currentUserID.toString() ){%>
        <a href="/admin/profile" class="index-user-ic"
          ><i class="fa-solid fa-circle-user index-user-ic"></i
        ></a>
        <%}else{%>
        <a href="/profile/<%= post.userId._id %>" class="index-user-ic"
          ><i class="fa-solid fa-circle-user"></i
        ></a>
        <%}%>
        <div>
          <p class="post-email"><%= post.userId.email %></p>
          <% if(post.userId.isPremium){%>
          <p class="post-email">
            <%= post.userId.username %><i
              class="fa-regular fa-star animate__animated animate__jello animate__infinite infinite"
            ></i>
          </p>
          <%}else{%>
          <p class="post-email"><%= post.userId.username %></p>
          <%}%>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="paginate">
    <% if(!hasNextPage && currentPage == 1) {%>
    <a href="/?page=2">Next Page</a>
    <% } %> <% if(hasNextPage) {%>
    <a href="/?page=<%= nextPage%>">Next Page <%= nextPage%></a>
    <% } %> <% if(hasPreviousPage) {%>
    <a href="/?page=<%= previousPage%>">Previous Page <%= previousPage%></a>
    <% } %>
  </div>
  <%- include("./includes/foot") %>
</section>
