<%- include("../includes/head") %>
<section class="header">
  <div class="public-user">
    <i class="fa-solid fa-circle-user"></i>
    <p class=""><%= currentUserEmail%></p>
  </div>
  <div class="post-container">
    <% for(let post of postsArr) { %>
    <div class="post-box">
      <img
        src="<%= '/' + post.imgUrl %>"
        alt="<%= post.title %>"
        class="post-box-img"
      />
      <a class="post-title" href="/post/<%= post._id %>"
        ><%= post.title.substr(0,40) %></a
      >
      <p class="post-des"><%= post.description.substr(0,100) %></p>
      <hr />
      <p class="post-email">Post by : <%= post.userId.email %></p>
    </div>
    <% } %>
  </div>
  <div class="paginate">
    <% if(hasNextPage) {%>
    <a href="/profile/<%= postsArr[0].userId._id %>?page=<%= nextPage%>"
      >Next Page <%= nextPage%></a
    >
    <% } %> <% if(hasPreviousPage) {%>
    <a href="/profile/<%= postsArr[0].userId._id %>?page=<%= previousPage%>"
      >Previous Page <%= previousPage%></a
    >
    <% } %>
  </div>
</section>
<%- include("../includes/foot") %>
